/* Coolors Exported Palette - coolors.co/f5fdc6-f5c396-d0b17a-a89f68-41521f */

/* HSL */
$color1: hsla(69%, 93%, 88%, 1);
$color2: hsla(28%, 83%, 77%, 1);
$color3: hsla(38%, 48%, 65%, 1);
$color4: hsla(52%, 27%, 53%, 1);
$color5: hsla(80%, 45%, 22%, 1);

/* RGB */
$color1: rgba(245, 253, 198, 1);
$color2: rgba(245, 195, 150, 1);
$color3: rgba(208, 177, 122, 1);
$color4: rgba(168, 159, 104, 1);
$color5: rgba(65, 82, 31, 1);